$color-primary: #afdfff;

$color-primary-light: #1e9bb9;
$color-primary-dark: #236ea0;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-secondary-dark: #ff7730;
$color-grey: #777;
$colorGreyLight1: #e7e4e4;
$color-white: #fff;
$color-black: #000;

//GRID

$default-font-size: 1.6rem;
