@import "../styles/abstracts/variables";
@import "../styles/abstracts/mixins";

.actualites {
  margin-top: 100px;
  width: 100%;
  margin: 0px auto;
  text-align: center;
  min-height: 100vh;
  background-color: $color-primary-light;
}
